@import '../styles/colors.scss';
.about {
  width: 100%;
  height: auto;
  padding: 2em;
  background-color: $sectionBgColor;
  border-radius: 2em;
  box-shadow: 0 0 1em 0 $sectionShadow;
  margin-top: 2em;
}
.title {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.txt {
  margin-top: 1em;
  line-height: 2.5em;
  font-size: 1.5em;
}
