$specialNew: linear-gradient(
  to right,
  #396cb9,
  #0088c6,
  #009ca6,
  #00a864,
  #79aa09
);
$specialArticles: linear-gradient(
  to right,
  #d149a4,
  #c743ad,
  #b940b7,
  #a83fc1,
  #9340cb
);
$textColor: rgb(50, 50, 50);
$titleColor: rgb(20, 20, 20);
$greyColor: rgb(190, 190, 190);
$bodyColor: rgb(240, 240, 240);
$sectionBgColor: white;
$sectionShadow: rgba(0, 0, 0, 0.3);
$errorColor: crimson;
$loaderDotsColor: orangered;
$successColor: rgb(21, 177, 112);
